<!-- footer -->
<footer id="footer">
	<div class="container-full">
		<div class="container">
			<div class="bm-remove animate" data-anim-type="fadeInDownLarge">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="socile">
						<ul>
							<li><a href="https://www.facebook.com/dzak.productions/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/SchartierD"><i class="fa fa-twitter"></i></a></li>
							<li><a href="mailto:dynamique.zak@gmail.com"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="float_right">
					<p>Game Developed by  <a href="mailto:dynamique.zak@gmail.com">Schartier Isaac <i class="fa fa-arrow-right"></i></a></p>
				</div>

				</div>
			</div>
			<div class="span1">
				<a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
			</div>
		</div>
	</div>
</footer> <!-- /#footer -->

<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/animations.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrollUp.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lightbox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/smoothscroll.js"></script>
<script src="{{ site.baseurl }}/assets/js/visible.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.nav.js"></script>
