<!-- Header -->
<header id="header">

  <nav id="head-nav" class="navbar topnavbar navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a href="#header" class="navbar-brand header" style="font-family: Manuscrit">The Last Hope Of Dragons</a>
      </div> <!-- /#navbar-header -->

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav pull-right navbar-nav" id="main_navigation_menu">
          <li class="active"><a href="#header">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          $<li><a href="#story">STORY</a></li>
          <li><a href="#portfolio">UPDATES</a></li>
          <li><a href="#help">TO CONTRIBUTE</a></li>
          <li><a href="#footer-top">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav> <!-- /#navbar -->


<!-- Slider -->
<section id="slider">
  <div class="container-full">
    <div class="slider">
      <div id="main-slider" class="carousel slide">

          <div class="active item">
            <div class="container slide-element">
              <div class="col-md-6">
                <img src="{{ site.baseurl }}/assets/img/logo_2.png" style="width: 400px; height: auto; padding-top: 100px;" alt="">
              </div>
              <div class="col-md-6">
                <div class="content_slide">
                  <h2>The Last Hope Of Dragons</h2>
                  <p>an indie game in development with Unreal Engine 4</p>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
</header> <!-- /#header -->
